<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huawei.vi.thirddata.mapper.EquipmentMapper">
    <select id="getEquipmentStatistical" parameterType="java.util.Map" resultType="com.huawei.vi.entity.vo.EquipmentVo">

        SELECT
        MAX(views.filed0) as filed0,
        MAX(views.id0) as id0,
        MAX(views.filed1) as filed1,
        MAX(views.id1) as id1,
        MAX(views.filed2) as filed2,
        MAX(views.id2) as id2,
        MAX(views.copoleCode) as copoleCode,
        MAX(views.ipType) as ipType,
        MAX(views.model) as model,
        COUNT(views.three) as zeroToThree,
        COUNT(views.five) as threeToFive,
        COUNT(views.ten) as fiveToTen,
        COUNT(views.unknown) as unknown,
        MAX(views.shelveDate) as shelveDate,
        MAX(views.shelveName) as shelveName,
        MAX(views.shelveId) as shelveId,
        MAX(views.id) as id
        FROM (
        SELECT
        tmp.filed0,
        tmp.id0,
        tmp.filed1,
        tmp.id1,
        tmp.filed2,
        tmp.id2,
        tmp.copoleCode,
        tmp.ipType,
        tmp.model,
        tmp.ip,
        total.three,
        total.five,
        total.ten,
        CASE WHEN total.three IS NULL AND total.five IS NULL AND total.ten IS NULL THEN 'unknown' END AS UNKNOWN,
        total.shelveDate,
        case when total.shelveName is null then '-' ELSE total.shelveName end as shelveName,
        total.shelveId,
        total.id
        from tbl_ipc_ip_tmp tmp LEFT JOIN
        (SELECT
        b.id,
        b.shelveDate,
        b.shelveId,
        b.shelveName,
        CASE
        WHEN b.da >= #{zero}
        AND b.da &lt; #{three} THEN 'three'
        END AS three,
        CASE
        WHEN b.da >= #{three}
        AND b.da &lt; #{five} THEN 'five'
        END AS five,
        CASE
        WHEN b.da >= #{five} THEN 'ten'
        END AS ten
        FROM
        (
        SELECT
        a.id,
        a.shelveDate,
        a.shelveId,
        a.shelveName,
        TIMESTAMPDIFF( YEAR,
        shelveDate,
        NOW()) AS da
        FROM
        (
        SELECT
        con1.id,
        con1.shelveId,
        con2.shelveDate,
        con3.shelveName
        FROM
        (
        SELECT
        id,
        value AS shelveId,
        '' AS shelveDate
        FROM
        tbl_dossier_content con
        WHERE
        type_id IN(#{id},#{id1}) ) con1
        LEFT JOIN (
        SELECT
        id,
        value AS shelveDate
        FROM
        tbl_dossier_content con
        WHERE
        type_id IN (#{time},#{time1})) con2 ON
        con1.id = con2.id
        LEFT JOIN (
        SELECT
        id,
        value AS shelveName
        FROM
        tbl_dossier_content con
        WHERE
        type_id IN (#{name},#{name1})
        ) con3 ON con1.id = con3.id) a
        LEFT JOIN tbl_dossier_content_base base ON a.id = base.id where base.dossiers_status = #{dossierStatus}
        ) b) total
        ON tmp.cameraId = total.shelveId) views
        <where>
            1=1
            <if test="modelList!=null and modelList.size>0">
                and model in
                <foreach collection="modelList" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="ipTypeList!=null and ipTypeList.size>0">
                and ipType in
                <foreach collection="ipTypeList" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="shelveNameList!=null and shelveNameList.size>0">
                and shelveName in
                <foreach collection="shelveNameList" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="ids!=null and ids.size>0">
                and ${ida} in
                <foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="userIp!=null and userIp.size>0">
                and views.ip in
                <foreach collection="userIp" item="ip" index="index" open="(" separator="," close=")">
                    #{ip}
                </foreach>
            </if>
        </where>
        <if test="list!=null and list.size>0">
            group by
            <foreach collection="list" item="item" index="index" separator=",">
                ${item}
            </foreach>
        </if>
    </select>

    <select id="queryEquipmentListByUser" parameterType="map" resultType="java.lang.String">
        <choose>
            <when test="isDefault == 1">
                <include refid="selectAllIp"/>
            </when>
            <otherwise>
                <include refid="ipcByUser"/>
            </otherwise>
        </choose>
    </select>
    <!-- 默认用户即admin用户查询所有ipc -->
    <sql id="selectAllIp">
        SELECT a.cameraId from (
        SELECT con.value,tmp.ip,tmp.cameraId from tbl_ipc_ip_tmp tmp
        LEFT JOIN tbl_dossier_content con on tmp.cameraId = con.value and con.type_id in (#{id},#{id1})
        ) a
        WHERE a.value is null
        <if test="cameraId!=null">
            and a.cameraId like '%${cameraId}%'
        </if>
    </sql>
    <!-- 根据用户查询其权限下的ipc -->
    <sql id="ipcByUser">
        SELECT a.cameraId from (
        SELECT con.value,tmp.ip,tmp.cameraId from tbl_ipc_ip_tmp tmp
        LEFT JOIN tbl_dossier_content con on tmp.cameraId = con.value and con.type_id in (#{id},#{id1})
        ) a INNER JOIN tbl_user as b
        INNER JOIN tbl_user_ipc_resource as c
        WHERE b.userId = c.user_id
        AND b.user_name= #{userName}
        AND a.ip = c.ip
        and a.value is null
        <if test="cameraId!=null">
            and a.cameraId like '%${cameraId}%'
        </if>
    </sql>

    <insert id="insertChildEquipmentInfo">
            MERGE INTO
            tbl_ipc_extra a
            USING (
            SELECT
            COUNT(*) num
            FROM
            tbl_ipc_extra
            WHERE
            cameraType = #{cameraInformationVo.cameraType} AND cameraSn = #{cameraInformationVo.cameraSn} ) b ON
            (b.num>0)
            WHEN MATCHED THEN UPDATE
            SET
            a.cameraValue = #{cameraInformationVo.cameraValue},a.modifyTime = #{cameraInformationVo.updateTime} where
            cameraType = #{cameraInformationVo.cameraType} AND cameraSn = #{cameraInformationVo.cameraSn}
            WHEN NOT MATCHED THEN INSERT
            ( a.cameraType,
            a.cameraValue,
            a.isUse,
            a.cameraSn,
            a.addTime,
            a.modifyTime )
            VALUES ( #{cameraInformationVo.cameraType},
            #{cameraInformationVo.cameraValue},
            #{cameraInformationVo.isUse},
            #{cameraInformationVo.cameraSn},
            #{cameraInformationVo.createTime},
            #{cameraInformationVo.updateTime} )
    </insert>

    <update id="updateChildEquipmentInfo">
        <foreach collection="list" item="cameraInformationVo" separator=";">
            update tbl_ipc_extra set
            cameraType=#{cameraInformationVo.cameraType},
            cameraValue=#{cameraInformationVo.cameraValue},
            isUse=#{cameraInformationVo.isUse},
            modifyTime=#{cameraInformationVo.updateTime}
            where cameraType = #{cameraInformationVo.cameraType} and cameraSn = #{cameraInformationVo.cameraSn}
        </foreach>
    </update>

    <select id="checkEquipment" parameterType="String" resultType="Boolean">
        select count(camera_sn) from tbl_ipc_ip_tmp where camera_sn = #{cameraSn}
    </select>

    <select id="queryEquipment" parameterType="String" resultType="String">
        select ${type} from tbl_ipc_ip_tmp group by ${type}
    </select>

    <select id="getUserEquipmentIp" parameterType="String" resultType="String">
        SELECT a.ip FROM tbl_user_ipc_resource a,tbl_ipc_ip_tmp b where user_id = #{userId} and a.ip=b.ip
    </select>

</mapper>