<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huawei.vi.login.mapper.LoginRecordMapper">


    <resultMap id="BaseResultMap" type="com.huawei.vi.entity.po.LoginRecordPO">
        <result column="userName" property="userName" jdbcType="VARCHAR"/>
        <result column="lockFlag" property="lockFlag" jdbcType="VARCHAR"/>
        <result column="failureNum" property="failureNum" jdbcType="INTEGER"/>
        <result column="loginDate" property="loginDate" jdbcType="VARCHAR"/>
        <result column="origin" property="origin" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectByUser" parameterType="java.lang.String" resultType="com.huawei.vi.entity.po.LoginRecordPO">
        select
        userName,lockFlag,failureNum,loginDate
        from tbl_login_record
        where userName = #{userName,jdbcType=VARCHAR} and origin=#{origin}
    </select>

    <delete id="deleteUserName" parameterType="java.lang.String">
        DELETE FROM tbl_login_record WHERE  userName=#{userTblName} and origin =#{origin}
    </delete>

    <insert id="insert" parameterType="com.huawei.vi.entity.po.LoginRecordPO">
        insert into tbl_login_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null">
                userName,
            </if>
            <if test="lockFlag != null">
                lockFlag,
            </if>
            <if test="failureNum >0">
                failureNum,
            </if>
            <if test="loginDate != null">
                loginDate,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="lockFlag !=null">
                #{lockFlag,jdbcType=VARCHAR},
            </if>
            <if test="failureNum >0">
                #{failureNum,jdbcType=INTEGER},
            </if>
            <if test="loginDate != null">
                #{loginDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.huawei.vi.entity.po.LoginRecordPO">
        update tbl_login_record
        <set>
            <if test="lockFlag != null">
                lockFlag = #{lockFlag,jdbcType=VARCHAR},
            </if>
            <if test="loginDate !=null">
                loginDate = #{loginDate,jdbcType=TIMESTAMP},
            </if>
            <if test="failureNum >0">
                failureNum = #{failureNum,jdbcType=VARCHAR},
            </if>
        </set>
        where userName = #{userName,jdbcType=VARCHAR}
    </update>

</mapper>