<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huawei.vi.workorder.mapper.IpcIpMapper">
    <resultMap id="BaseResultMap" type="com.huawei.vi.entity.po.TblIpcIp">
        <result column="ip" property="ip" jdbcType="CHAR"/>
        <result column="camera_name" property="cameraName" jdbcType="VARCHAR"/>
        <result column="filed0" property="organization" jdbcType="VARCHAR"/>
        <result column="filed1" property="platform" jdbcType="VARCHAR"/>
        <result column="cameraNum" property="cameraCode" jdbcType="VARCHAR"/>
        <result column="cameraId" property="cameraId" jdbcType="VARCHAR"/>
        <!--分辨率-->
        <result column="hd" property="hd" jdbcType="VARCHAR"/>
        <result column="copoleCode" property="copoleCode" jdbcType="VARCHAR"/>
        <result column="ipType" property="ipType" jdbcType="VARCHAR"/>
        <result column="longitude" property="longitude" jdbcType="VARCHAR"/>
        <result column="latitude" property="latitude" jdbcType="VARCHAR"/>
        <result column="manufacturer" property="manufacturer" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询设备详情-->
    <select id="getIpcInfo" resultType="java.util.Map" parameterType="java.util.Map">
       SELECT
        ${fileds},
        `COPOLECODE` AS `copoleCode`,
        `IP` AS `ip`,
        `CAMERANUM` AS `cameraNum`,
        `CAMERA_NAME` AS `camera_name`,
        `CAMERAID` AS `cameraId`,
        `CHECKFLAG` AS `checkflag`,
        `IPTYPE` AS `ipType`,
        `LONGITUDE` AS `longitude`,
        `LATITUDE` AS `latitude`,
        `PLATFORMIP` AS `platformIp`,
        `CAMERA_SN` AS `camera_sn`,
        `GROUP_NAME` AS `group_name`,
        `LASTONLINETIME` AS `lastOnlineTime`,
        `REFERTIME` AS `referTime`,
        `HD` AS `hd`,
        `MANUFACTURER` AS `manufacturer`,
        `MODEL` AS `model`
        FROM tbl_ipc_ip_tmp
        WHERE cameraId=#{cameraId}
    </select>
</mapper>